* {

    margin: 0;
    padding: 0;
    background-color: #9C8CB9;
    font-family: 'Poppins';
}
h1{
    background-color: #4B3F6E;
    font-size: 40px;
    color: #9C8CB9;



}

header {

    display: flex;
    flex-wrap: row wrap;
    padding: 20px;
    background-color: #4B3F6E;
    justify-content: center;
    margin-bottom: 10px;
    border: 3px solid white;
}

main {

    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10x;
    margin-top: 20px;
}

.simonimage {

    width: 400px;
    height: 460px;
    border: 3px solid white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    border-radius: 10%;
}

.aimeimage {

    width: 400px;
    height: 460px;

    border: 3px solid white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    border-radius: 10%;
}

#linea {

    padding: 3px;
    background-color: rgb(255, 255, 255);



}

#texto {


    color: white;
    margin-top: 5px;
    text-align: justify;
    font-size: 13px;
}

#resumen {

    margin-left: 150px;
    color: #4B3F6E;
    font-size: 35px;
    font-weight: 700;

}

.nombre {

    position: absolute;
    left: 30px;
    top: 112px;
    width: 402px;
    height: 100px;
    background-color: #4B3F6E;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    border: 3px solid white;
    color: #9C8CB9;
    border-radius: 20%;

}

.nombre2 {
    position: absolute;
    right: 30px;
    top: 112px;
    width: 402px;
    height: 100px;
    background-color: #4B3F6E;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    border: 3px solid white;
    color: #9C8CB9;
    border-radius: 20%;


}

.section {
   display: flex;
    width: 1416px;
    height: 100px;
    border: 3px solid white;
    background-color: #4B3F6E;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.MedioL{

    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin-top: 10px;
    width: 1420px;
    height: 500px;
    background-color: #9C8CB9;
}
#Centro{

    display: grid;
    background-color: #4B3F6E;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10%;

}
.Botones{

    width: 450px;
    height: 60px;
    color: #9C8CB9;
    font-size: 20px;
    background-color: #4B3F6E;
    border: none;
    margin-left: 10px;
    border-radius: 10%;

    
}
.Botones2{

    width: 450px;
    height: 60px;
    color: #9C8CB9;
    font-size: 20px;
    background-color: #4B3F6E;
    border: none;
    margin-left: 10px;
    border-radius: 10%;


}
#TextoCentro{

    background-color: transparent;
    font-weight: bold;
    color: #9C8CB9;
}
.Mosaico{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1420px;
    height: 500px;
    background-color: #9C8CB9;
    margin: 10px;

}
.Fotos1{

   width: 600px;
   height: auto;

}

.Fotos2{
   
  
    width: 600px;
   height: auto;



}
.imgp1{

    width: 140px;
    height: 160px;
}
.filtro{

    position: absolute;
    top: 1440px;
    width: 1420px;
    min-height: 600px;
    background-color: #4b3f6e4f;
    
}
.Botones3{

    margin-top: 25px;

}
.cartas{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1420px;
    height: 500px;
    background-color: #9C8CB9;
}
.cartalateral{

    width: 200px;
    height: 300px;
    background-color:#4B3F6E;
    border-radius: 10%;
    border: 3px double white;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;

}
.cartacentro{

    width: 200px;
    height: 340px;
    background-color:#4B3F6E;
    border-radius: 10%;
    border: 3px double white;
    margin: 10px;

}